<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h1 class="pull-left" style="margin: 0; font-weight: bold;">Contacts</h1>
        <div class="pull-right">
          <button class="btn btn-success btn-md">New Contact</button>
        </div>
      </div>
      
      
      
  
    <div class="panel-body">
      <cms-contact-item 
        *ngFor="let contact of contacts" 
        [contact]="contact"
        (click)="onSelected(contact)">
      </cms-contact-item>

    </div>
  </div>
  